body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* WARNING */
/* MAKING CHANGES TO THIS FILE CAN CHANGE THE DESIGN  OF WHOLE APP*/
/* This is being imported in index.js for rendering to the whole page */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Resetting the default styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* CSS Global Variables so they can be used anywhere*/
:root {
  --color-bg: whitesmoke;
  --color-bg-variant: #b6b6e6;
  --color-text: black;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  /* For different screen sizes */
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/* General styles */

html {
  scroll-behavior: smooth;
}

/* Button styles */
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-text);
  background: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-light);
  color: var(--color-text);
  border: 1px solid var(--color-primary)
}


.container.favourites__container {
  padding: 1rem;
  
}

.favourites {
padding: 2rem;
max-width: 40vw;
}


/* =========================MEDIA QUERY FOR TABLETS========================== */

@media screen and (max-width: 1024px) {
  .favourites{
    max-width: 50vw;
    max-height: 100%;
  }
}

/* =========================MEDIA QUERY FOR PHONES========================== */

@media screen and (max-width: 600px) {
  .favourites{
      max-width: 100vw;
      max-height: 100%;
  }
  CardMedia{
      height: 150px;
  }
  .actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .value {
  font-size: 1em;
  }
  img{
    width: 50%;
    height: 50%;
  }
}

/* CYF Logo  */
.cyfLogo{
    width: 10.13em;
    height: 3.2em;
    margin-top: 0.3em;
}

/* TIMER */
.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Electrolize";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-family: "Roboto";
  text-align: center;
}

.value {
  font-size: 2em;
}