/* Hero Styles */
.booster__hero{
	background-image:url("../energiser-Imgs/Booster-hero-img.png");
	/* background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80%; */

}


/* Card styling */
.energiser__img {
	display: block;
	width: 100%;
	object-fit: cover;
}
.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}
.energisers__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.energiser__item {
	background: var(--color-bg-variant);
	padding: 1.2rem;
	border-radius: 2rem;
	border: 1px solid transparent;
	transition: var(--transition);
}

.energiser__item:hover {
	border-color: var(--color-primary-variant);
	background: transparent;
}

.energiser__item-image {
	border-radius: 1.5rem;
	overflow: hidden;
}

.energiser__item-buttons {
	display: flex;
	gap: 1rem;
	margin: 1rem 0 1rem 0;
}
section {
	margin-top: 8rem;
}
