/* Hero Styles */
.booster__hero{
	background-image:url("../energiser-Imgs/Booster-hero-img.png");
	/* background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80%; */

}


/* Card styling */
.energiser__img {
	display: block;
	width: 100%;
	object-fit: cover;
}
.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}
.energisers__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

.energiser__item {
	background: var(--color-bg-variant);
	padding: 1.2rem;
	border-radius: 2rem;
	border: 1px solid transparent;
	transition: var(--transition);
}

.energiser__item:hover {
	border-color: var(--color-primary-variant);
	background: transparent;
}

.energiser__item-image {
	border-radius: 1.5rem;
	overflow: hidden;
}

.energiser__item-buttons {
	display: flex;
	gap: 1rem;
	margin: 1rem 0 1rem 0;
}
section {
	margin-top: 8rem;
}

/* Adem */
.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.gradient-custom-2 {
	/* fallback for old browsers */
	background: #fccb90;
  
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
	.gradient-form {
	  height: 100vh !important;
	}
  }
  @media (min-width: 769px) {
	.gradient-custom-2 {
	  border-top-right-radius: .3rem;
	  border-bottom-right-radius: .3rem;
	}
  }

  .testimonial-card .card-up { height: 120px; overflow: hidden; border-top-left-radius:
	0.25rem; border-top-right-radius: 0.25rem; } .testimonial-card .avatar { width: 110px;
	margin-top: -60px; overflow: hidden; border: 3px solid #fff; border-radius: 50%; }